<div class="row tile">
    <div class="col-md-12 col-md-auto">
        <div class="ibox float-e-margins nps-form-shell">
            <div class="ibox-title">
                <h3 class="nps-form-title" langtag="page-useredit"></h3>
                <p class="nps-form-subtitle" langtag="info-user-edit-subtitle"></p>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <input name="id" type="hidden" value="">
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-username"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-user-username-placeholder" name="username" placeholder="" type="text">
                            <span class="help-block m-b-none" langtag="info-user-password-help"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-password"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-user-password-keep-placeholder" name="password" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-clear-password"></label>
                        <div class="col-sm-12">
                            <input name="clear_password" type="checkbox" value="true">
                            <span class="help-block m-b-none" langtag="info-user-clear-password-help"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-totp"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-user-totp-keep-placeholder" name="totp_secret" placeholder="" type="text">
                            <span class="help-block m-b-none" langtag="info-user-totp-help"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-clear-totp"></label>
                        <div class="col-sm-12">
                            <input name="clear_totp_secret" type="checkbox" value="true">
                            <span class="help-block m-b-none" langtag="info-user-clear-totp-help"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-status"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="status">
                                <option value="true" langtag="word-active"></option>
                                <option value="false" langtag="word-disabled"></option>
                            </select>
                            <span class="help-block m-b-none" langtag="info-user-status-edit-help"></span>
                        </div>
                    </div>
                    <div class="form-group" id="entry_acl_mode">
                        <label class="control-label font-bold" langtag="word-entryacl"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="entry_acl_mode">
                                <option value="0" langtag="word-disable"></option>
                                <option value="1" langtag="word-whitelist"></option>
                                <option value="2" langtag="word-blacklist"></option>
                            </select>
                            <span class="help-block m-b-none" langtag="info-entryacl"></span>
                        </div>
                    </div>
                    <div class="form-group" id="entry_acl_rules">
                        <label class="control-label font-bold" langtag="word-entryaclrules"></label>
                        <div class="col-sm-12">
                            <textarea class="form-control" name="entry_acl_rules" rows="4"></textarea>
                            <span class="help-block m-b-none" langtag="info-entryaclrules"></span>
                        </div>
                    </div>
                    <div class="form-group" id="dest_acl_mode">
                        <label class="control-label font-bold" langtag="word-destacl"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="dest_acl_mode">
                                <option value="0" langtag="word-disable"></option>
                                <option value="1" langtag="word-whitelist"></option>
                                <option value="2" langtag="word-blacklist"></option>
                            </select>
                            <span class="help-block m-b-none" langtag="info-destacl"></span>
                        </div>
                    </div>
                    <div class="form-group" id="dest_acl_rules">
                        <label class="control-label font-bold" langtag="word-destaclrules"></label>
                        <div class="col-sm-12">
                            <textarea class="form-control" name="dest_acl_rules" rows="4"></textarea>
                            <span class="help-block m-b-none" langtag="info-destaclrules"></span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-expireat"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-datetime-or-unix-placeholder" name="expire_at" placeholder="" type="text">
                            <span class="help-block m-b-none" langtag="info-leave-empty-permanent"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-flowlimit"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-bytes-unlimited-placeholder" name="flow_limit" placeholder="" type="text">
                            <span class="help-block m-b-none">
                                <span langtag="word-totalflow"></span>: <span id="user_total_flow">0 / 0</span> <span langtag="word-bytes"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-ratelimit"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-rate-kbs-unlimited-placeholder" name="rate_limit" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-maxclients"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-count-unlimited-placeholder" name="max_clients" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-maxtunnels"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-count-unlimited-placeholder" name="max_tunnels" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-maxhosts"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-count-unlimited-placeholder" name="max_hosts" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-maxconnections"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-count-unlimited-placeholder" name="max_connections" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-resettotalflow"></label>
                        <div class="col-sm-12">
                            <input name="flow_reset" type="checkbox" value="true">
                            <span class="help-block m-b-none" langtag="info-user-reset-total-flow-help"></span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group nps-form-actions">
                        <div class="col-lg-12">
                            <button class="btn btn-secondary" onclick="window.history.back()" type="button">
                                <i class="fa fa-fw fa-lg fa-window-close"></i> <span langtag="word-cancel"></span>
                            </button>
                            <button class="btn btn-success"
                                    data-nps-require-node-action="users/edit"
                                    onclick="submitUserEdit()"
                                    type="button">
                                <i class="fa fa-fw fa-lg fa-check-circle"></i> <span langtag="word-save"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function canEditUserForm() {
        return window.nps.nodeActionAvailable('users/edit');
    }

    function currentUserID() {
        return window.nps.pageIntParam('id');
    }

    function applyUserEditReadOnlyState() {
        if (!canEditUserForm()) {
            window.nps.applyReadOnlyForm('form.form-horizontal', {
                message: window.nps.langText('info-readonly-user-profile', '')
            });
        }
    }

    function applyUserForm(item) {
        item = item || {};
        window.nps.setFormValue('form.form-horizontal', 'id', item.Id || currentUserID());
        window.nps.setFormValue('form.form-horizontal', 'username', item.Username || '');
        window.nps.setFormValue('form.form-horizontal', 'status', item.Status === 1 ? 'true' : 'false');
        window.nps.setFormValue('form.form-horizontal', 'entry_acl_mode', item.EntryAclMode || '0');
        window.nps.setFormValue('form.form-horizontal', 'entry_acl_rules', item.EntryAclRules || '');
        window.nps.setFormValue('form.form-horizontal', 'dest_acl_mode', item.DestAclMode || '0');
        window.nps.setFormValue('form.form-horizontal', 'dest_acl_rules', item.DestAclRules || '');
        window.nps.setFormValue('form.form-horizontal', 'expire_at', item.ExpireAtText || '');
        window.nps.setFormValue('form.form-horizontal', 'flow_limit', item.FlowLimit || '');
        window.nps.setFormValue('form.form-horizontal', 'rate_limit', item.RateLimit || '');
        window.nps.setFormValue('form.form-horizontal', 'max_clients', item.MaxClients || '');
        window.nps.setFormValue('form.form-horizontal', 'max_tunnels', item.MaxTunnels || '');
        window.nps.setFormValue('form.form-horizontal', 'max_hosts', item.MaxHosts || '');
        window.nps.setFormValue('form.form-horizontal', 'max_connections', item.MaxConnections || '');
        window.nps.setTextContent('#user_total_flow', (item.TotalFlow ? item.TotalFlow.InletFlow : 0) + ' / ' + (item.TotalFlow ? item.TotalFlow.ExportFlow : 0));
        toggleEntryAclRules();
        toggleDestAclRules();
    }

    function toggleEntryAclRules() {
        var modeVal = $("select[name='entry_acl_mode']").val();
        var mode = parseInt(modeVal ? modeVal : "0", 10);
        $("#entry_acl_rules").css("display", mode === 0 ? "none" : "block");
    }

    function toggleDestAclRules() {
        var modeVal = $("select[name='dest_acl_mode']").val();
        var mode = parseInt(modeVal ? modeVal : "0", 10);
        $("#dest_acl_rules").css("display", mode === 0 ? "none" : "block");
    }

    function loadUserForm() {
        var id = currentUserID();
        if (!id) {
            return $.Deferred().reject().promise();
        }
        return window.nps.fetchNodeItem(
            window.nps.nodeResourcePath('users', id),
            window.nps.adaptNodeUserResource
        ).then(function (item) {
            applyUserForm(item || {});
            return item || {};
        });
    }

    function submitUserEdit() {
        if (!canEditUserForm()) {
            return;
        }
        var id = currentUserID();
        if (!id) {
            return;
        }
        var clearPassword = $("input[name='clear_password']").prop('checked');
        var clearTotpSecret = $("input[name='clear_totp_secret']").prop('checked');
        var payload = $.grep($('form').serializeArray(), function (item) {
            if (!item) {
                return false;
            }
            if (item.name === 'clear_password' || item.name === 'clear_totp_secret') {
                return false;
            }
            if (item.name === 'password') {
                return clearPassword || $.trim(item.value || '') !== '';
            }
            if (item.name === 'totp_secret') {
                return clearTotpSecret || $.trim(item.value || '') !== '';
            }
            return true;
        });
        window.nps.submitFormAction('edit', window.nps.nodeMutation('user', 'edit', id), payload);
    }

    $(function () {
        $("select[name='entry_acl_mode']").on("change", toggleEntryAclRules);
        $("select[name='dest_acl_mode']").on("change", toggleDestAclRules);
        $("input[name='clear_password']").on("change", function () {
            if ($(this).prop('checked')) {
                $("input[name='password']").val('');
            }
        });
        $("input[name='clear_totp_secret']").on("change", function () {
            if ($(this).prop('checked')) {
                $("input[name='totp_secret']").val('');
            }
        });
        $("input[name='password']").on("input", function () {
            if ($.trim($(this).val() || '') !== '') {
                $("input[name='clear_password']").prop('checked', false);
            }
        });
        $("input[name='totp_secret']").on("input", function () {
            if ($.trim($(this).val() || '') !== '') {
                $("input[name='clear_totp_secret']").prop('checked', false);
            }
        });
        loadUserForm();
        toggleEntryAclRules();
        toggleDestAclRules();
        window.nps.syncConditionalVisibility(document.querySelector('.nps-form-actions'));
        applyUserEditReadOnlyState();
    });

    function internationalized() {
        if ($("input[name='id']").val() || currentUserID()) {
            loadUserForm();
        }
        applyUserEditReadOnlyState();
    }
</script>
