<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins nps-list-shell">
                <div class="ibox-title">
                    <h5 class="nps-list-title" langtag="page-userlist"></h5>
                    <p class="nps-list-subtitle" langtag="info-user-list-subtitle"></p>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="content">
                    <div class="alert alert-info m-b-md">
                        <span langtag="info-user-list-note"></span>
                    </div>
                    <div class="table-responsive">
                        <div id="toolbar">
                            <div class="nps-toolbar">
                            <a class="btn btn-primary"
                               href="{{.web_base_url}}/user/add"
                               data-nps-page-controller="user"
                               data-nps-page-action="add"
                               data-nps-require-page-controller="user"
                               data-nps-require-page-action="add"
                               data-nps-require-node-action="users/add">
                                <i class="fa fa-fw fa-lg fa-plus"></i>
                                <span langtag="page-useradd"></span>
                            </a>
                            <div class="btn-group" data-nps-require-any-node-actions="users/status,users/delete">
                                <button type="button" class="btn btn-outline btn-primary user-bulk-action" id="user-bulk-start" onclick="runSelectedUserBatch('start')" disabled>
                                    <i class="fa fa-play"></i>
                                    <span langtag="word-start"></span>
                                </button>
                                <button type="button" class="btn btn-outline btn-warning user-bulk-action" id="user-bulk-stop" onclick="runSelectedUserBatch('stop')" disabled>
                                    <i class="fa fa-pause"></i>
                                    <span langtag="word-stop"></span>
                                </button>
                                <button type="button" class="btn btn-outline btn-danger user-bulk-action" id="user-bulk-delete" onclick="runSelectedUserBatch('delete')" disabled>
                                    <i class="fa fa-trash"></i>
                                    <span langtag="word-delete"></span>
                                </button>
                            </div>
                            <button type="button"
                                    class="btn btn-outline btn-default user-bulk-action"
                                    id="user-bulk-reset"
                                    data-nps-require-any-node-actions="users/status,users/delete"
                                    onclick="window.nps.clearTableSelections('#table')"
                                    disabled>
                                <i class="fa fa-times"></i>
                                <span langtag="word-cancel"></span>
                            </button>
                            <span class="text-muted small nps-toolbar-summary"
                                  id="user-bulk-selection-summary"
                                  data-nps-require-any-node-actions="users/status,users/delete"></span>
                            </div>
                        </div>
                        <table class="table-striped table-hover" data-mobile-responsive="true" id="table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function userLang(id, fallback) {
        return window.nps.langText(id, arguments.length > 1 ? fallback : '');
    }

    function userLangFormat(id, replacements, fallback) {
        return window.nps.langFormat(id, replacements, arguments.length > 2 ? fallback : '');
    }

    function userLimitText(value, unit) {
        if (value !== null && value !== undefined && value !== '' && value !== 0 && value !== '0') {
            return unit ? (value + unit) : value;
        }
        return userLang('word-unlimited');
    }

    function userRateUnitText() {
        return ' ' + userLang('unit-kilobyte-per-second');
    }

    function userStatusText(status) {
        return status === 1
            ? userLang('word-active')
            : userLang('word-disabled');
    }

    function userExpireText(value) {
        return value || userLang('word-permanent');
    }

    function canManageUserStatus() {
        return window.nps.nodeActionAvailable('users/status');
    }

    function canDeleteUser() {
        return window.nps.nodeActionAvailable('users/delete');
    }

    function canEditUser() {
        return window.nps.nodeActionAvailable('users/edit') && window.nps.pageAvailable('user', 'edit');
    }

    $('#table').bootstrapTable({
        toolbar: "#toolbar",
        method: 'get',
        url: window.nps.nodeRoute('users'),
        striped: true,
        search: true,
        showHeader: true,
        showColumns: true,
        showRefresh: true,
        pagination: true,
        sidePagination: 'server',
        pageNumber: 1,
        pageList: [5, 10, 20, 50, 100, 'all'],
        cookie: true,
        cookieIdTable: 'user',
        cookieStorage: 'localStorage',
        idField: 'Id',
        uniqueId: 'Id',
        maintainMetaData: true,
        detailView: true,
        smartDisplay: true,
        queryParams: function (params) {
            return window.nps.resourceListQueryParams(params);
        },
        responseHandler: function (response) {
            return window.nps.resourceListResponseHandler(response, window.nps.adaptNodeUserResource);
        },
        onPostBody: function () { if ($(this)[0].locale != undefined) $('body').setLang('#table'); },
        detailFormatter: function (index, row) {
            var totalFlow = 0;
            if (row.TotalFlow) {
                totalFlow = (row.TotalFlow.InletFlow || 0) + (row.TotalFlow.ExportFlow || 0);
            }
            return '<b>' + userLang('word-status') + '</b>: ' + userStatusText(row.Status) + '&emsp;'
                + '<b>' + userLang('word-expireat') + '</b>: ' + userExpireText(row.ExpireAtText) + '&emsp;'
                + '<b>' + userLang('word-totalflow') + '</b>: ' + changeunit(totalFlow) + '&emsp;<br/><br/>'
                + '<b>' + userLang('word-flowlimit') + '</b>: ' + userLimitText(row.FlowLimit ? changeunit(row.FlowLimit) : 0) + '&emsp;'
                + '<b>' + userLang('word-ratelimit') + '</b>: ' + userLimitText(row.RateLimit, userRateUnitText()) + '&emsp;'
                + '<b>' + userLang('word-maxconnections') + '</b>: ' + userLimitText(row.MaxConnections) + '&emsp;<br/><br/>'
                + '<b>' + userLang('word-maxclients') + '</b>: ' + userLimitText(row.MaxClients) + '&emsp;'
                + '<b>' + userLang('word-maxtunnels') + '</b>: ' + userLimitText(row.MaxTunnels) + '&emsp;'
                + '<b>' + userLang('word-maxhosts') + '</b>: ' + userLimitText(row.MaxHosts);
        },
        columns: [
            (window.nps.anyNodeActionAvailable(['users/status', 'users/delete']) ? {
                checkbox: true,
                align: 'center',
                valign: 'middle'
            } : null),
            {
                field: 'Id',
                title: '<span langtag="word-id"></span>',
                sortable: true,
                formatter: function (value) {
                    return '<span onclick="oCopy(this)">' + value + '</span>';
                }
            },
            {
                field: 'Username',
                title: '<span langtag="word-username"></span>',
                sortable: true,
                formatter: function (value) {
                    return '<span onclick="oCopy(this)">' + escapeHtml(value == null ? '' : value) + '</span>';
                }
            },
            {
                field: 'Status',
                title: '<span langtag="word-status"></span>',
                sortable: true,
                formatter: function (value) {
                    if (value === 1) {
                        return '<span class="badge badge-success">' + userLang('word-active') + '</span>';
                    }
                    return '<span class="badge badge-danger">' + userLang('word-disabled') + '</span>';
                }
            },
            {
                field: 'ClientCount',
                title: '<span langtag="word-client"></span>',
                sortable: true
            },
            {
                field: 'TunnelCount',
                title: '<span langtag="word-tunnel"></span>',
                sortable: true
            },
            {
                field: 'HostCount',
                title: '<span langtag="word-host"></span>',
                sortable: true
            },
            {
                field: 'TotalFlow',
                title: '<span langtag="word-totalflow"></span>',
                sortable: true,
                formatter: function (value, row) {
                    if (!row.TotalFlow) {
                        return changeunit(0);
                    }
                    return changeunit((row.TotalFlow.InletFlow || 0) + (row.TotalFlow.ExportFlow || 0));
                }
            },
            {
                field: 'ExpireAtText',
                title: '<span langtag="word-expireat"></span>',
                sortable: true,
                formatter: function (value) {
                    return userExpireText(value);
                }
            },
            {
                field: 'RateLimit',
                title: '<span langtag="word-ratelimit"></span>',
                sortable: true,
                formatter: function (value) {
                    return userLimitText(value, userRateUnitText());
                }
            },
            {
                field: 'operate',
                title: '<span langtag="word-option"></span>',
                formatter: function (value, row) {
                    var buttons = '<div class="btn-group">';
                    if (canManageUserStatus()) {
                        if (row.Status === 1) {
                            buttons += '<a class="btn btn-outline btn-warning" onclick="changeUserStatus(' + row.Id + ', false)"><i class="fa fa-pause"></i></a>';
                        } else {
                            buttons += '<a class="btn btn-outline btn-primary" onclick="changeUserStatus(' + row.Id + ', true)"><i class="fa fa-play"></i></a>';
                        }
                    }
                    if (canEditUser()) {
                        buttons += '<a class="btn btn-outline btn-success" href="' + window.nps.pagePath('user', 'edit', {id: row.Id}) + '"><i class="fa fa-edit"></i></a>';
                    }
                    if (canDeleteUser()) {
                        buttons += '<a class="btn btn-outline btn-danger" onclick="deleteUser(' + row.Id + ')"><i class="fa fa-trash"></i></a>';
                    }
                    buttons += '</div>';
                    return buttons;
                }
            }
        ].filter(Boolean)
    });

    function userStatusMutation(id) {
        return window.nps.nodeMutation('user', 'status', id);
    }

    function userDeleteMutation(id) {
        return window.nps.nodeMutation('user', 'delete', id);
    }

    function buildSelectedUserBatchItems(ids, action) {
        return ids.map(function (id) {
            switch (action) {
                case 'start':
                case 'stop':
                    return {
                        id: action + '-user-' + id,
                        method: 'POST',
                        path: userStatusMutation(id).url,
                        body: { id: id, status: action === 'start' }
                    };
                case 'delete':
                    var deleteRequest = userDeleteMutation(id);
                    return {
                        id: action + '-user-' + id,
                        method: deleteRequest.method,
                        path: deleteRequest.url,
                        body: { id: id }
                    };
                default:
                    return null;
            }
        }).filter(Boolean);
    }

    function runSelectedUserBatch(action) {
        return window.nps.runSelectionBatch({
            table: '#table',
            idField: 'Id',
            trigger: '.user-bulk-action',
            action: action,
            confirmAction: action === 'delete' ? null : action,
            confirmMessage: action === 'delete'
                ? function (ids) {
                    return userLangFormat('info-user-delete-bulk-confirm', {count: ids.length});
                }
                : null,
            buildItems: function (ids) {
                return buildSelectedUserBatchItems(ids, action);
            },
            refresh: function () {
                $('#table').bootstrapTable('refresh');
            }
        });
    }

    function changeUserStatus(id, status) {
        window.nps.submitFormAction(status ? 'start' : 'stop', userStatusMutation(id), { id: id, status: status });
    }

    function deleteUser(id) {
        if (!confirm(userLang('info-user-delete-single-confirm'))) {
            return;
        }
        window.nps.submitFormAction('delete', userDeleteMutation(id), { id: id });
    }

    function internationalized() {
        if ($('#table').length) {
            $('#table').bootstrapTable('refresh');
        }
    }

    window.nps.bindTableSelectionActions({
        table: '#table',
        idField: 'Id',
        summary: '#user-bulk-selection-summary',
        buttons: '.user-bulk-action'
    });
    window.nps.syncConditionalVisibility(document.getElementById('toolbar'));
</script>
