<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title langtag="title-admin"></title>
    <!-- Mainly scripts -->
    <!-- Latest compiled and minified CSS -->
    <link href="{{.web_base_url}}/static/css/fontawesome.min.css" rel="stylesheet">
    <link href="{{.web_base_url}}/static/css/solid.min.css" rel="stylesheet">
    <link href="{{.web_base_url}}/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{.web_base_url}}/static/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="{{.web_base_url}}/static/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="{{.web_base_url}}/static/css/style.css?v={{.version}}" rel="stylesheet">
    <link href="{{.web_base_url}}/static/css/nps-shell.css?v={{.version}}" rel="stylesheet">
    <link href="{{.web_base_url}}/static/css/nps-forms.css?v={{.version}}" rel="stylesheet">
    <link href="{{.web_base_url}}/static/css/nps-lists.css?v={{.version}}" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{.web_base_url}}/static/js/jquery-3.7.1.min.js"></script>
    <script src="{{.web_base_url}}/static/js/popper.min.js"></script>
    <script src="{{.web_base_url}}/static/js/bootstrap.min.js"></script>
    <script src="{{.web_base_url}}/static/js/bootstrap-select.min.js"></script>
    <script src="{{.web_base_url}}/static/js/bootstrap-table.min.js"></script>
    <script src="{{.web_base_url}}/static/js/bootstrap-table-cookie.min.js"></script>
    <script src="{{.web_base_url}}/static/js/bootstrap-table-locale-all.min.js"></script>
    <script src="{{.web_base_url}}/static/js/echarts.min.js"></script>
    <script src="{{.web_base_url}}/static/js/inspinia.js"></script>
    <script src="{{.web_base_url}}/static/js/nps-runtime.js?v={{.version}}" type="text/javascript"></script>
    <script src="{{.web_base_url}}/static/js/nps-i18n.js?v={{.version}}" type="text/javascript"></script>
    <script src="{{.web_base_url}}/static/js/nps-feedback.js?v={{.version}}" type="text/javascript"></script>
    <script src="{{.web_base_url}}/static/js/nps-ui.js?v={{.version}}" type="text/javascript"></script>
    {{.head_custom_code}}
</head>

<body class="pace-done fixed-nav fixed-nav-basic">
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu" data-nps-nav="main">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span><i id="nps-profile-icon" class="fa fa-user fa-3x"></i></span>
                        <span class="clear"> <span class="block m-t-xs"><strong class="font-bold" id="nps-profile-name"></strong></span>
                        <span class="text-muted text-xs block" id="nps-profile-role" langtag="word-user">
                        </span>
                    </div>
                    <div class="logo-element" langtag="application"></div>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-fixed-top nps-navbar" role="navigation">

                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message"><span langtag="word-welcome"></span>
                        <a href="https://github.com/djylb/nps" langtag="application"></a></span>
                    </li>
                    <li>
                        <div class="ml-auto d-flex align-items-center nps-topbar-tools">
                            <button id="theme-toggle" type="button" class="btn btn-outline-secondary" onclick="toggleTheme()">
                                <i class="fa fa-moon"></i>
                            </button>
                            <span class="btn-group dropdown">
                                <button id="languagemenu" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-globe-asia fa-lg"></i>
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu"></ul>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="{{.web_base_url}}/login/out">
                            <i class="fa fa-sign-in-alt"></i><span langtag="word-logout"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="page-content">
        {{.LayoutContent}}
        </div>
        
        <div class="footer fixed">
            <div class="float-right">
                <span langtag="word-readmore"></span> <strong><a href="https://github.com/djylb/nps" langtag="word-go"></a></strong>
            </div>
            <div><strong langtag="word-copyright"></strong> <span langtag="application"></span> &copy; 2018-{{.year}}</div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    var runtimeConfig = {{.runtime_config_json}};
    window.nps = window.nps.mergeConfig(runtimeConfig);
    window.nps.syncNavigation(document);
    window.nps.syncConditionalVisibility(document);
    var profileIcon = document.getElementById('nps-profile-icon');
    var profileName = document.getElementById('nps-profile-name');
    var profileRole = document.getElementById('nps-profile-role');
    if (profileIcon) {
        profileIcon.className = window.nps.isAdmin()
            ? 'fa fa-user-cog fa-2x'
            : 'fa fa-user fa-3x';
    }
    if (profileName) {
        if (window.nps.isAdmin()) {
            profileName.setAttribute('langtag', 'word-admin');
            if (window.jQuery && jQuery.fn.setLang) {
                jQuery('body').setLang('#nps-profile-name');
            }
        } else {
            profileName.removeAttribute('langtag');
            profileName.textContent = window.nps.username || '';
        }
    }
    if (profileRole) {
        profileRole.setAttribute('langtag', window.nps.isAdmin() ? 'word-system' : 'word-user');
        if (window.jQuery && jQuery.fn.setLang) {
            jQuery('body').setLang('#nps-profile-role');
        }
    }
    /*
         googleTranslateElementInit()
         function googleTranslateElementInit() {
             new google.translate.TranslateElement({
                 layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
             }, 'wrapper');
         }
    */
</script>
{{/*<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>*/}}

