<div class="row tile">
    <div class="col-md-12 col-md-auto">
        <div class="ibox float-e-margins nps-form-shell">
            <div class="ibox-title">
                <h3 class="nps-form-title" langtag="page-clientedit"></h3>
                <p class="nps-form-subtitle" langtag="info-client-edit-subtitle"></p>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <input name="id" type="hidden" value="">
                    <div class="form-group" id="remark">
                        <label class="control-label font-bold" langtag="word-remark"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="word-remark" name="remark" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group" id="flow_reset" data-nps-require-admin="true">
                        <label class="control-label font-bold" langtag="word-flowreset"></label>
                        <div class="col-sm-12">
                            <input name="flow_reset" type="checkbox" value="1">
                            <span class="help-block m-b-none" langtag="info-flowreset"></span>
                        </div>
                    </div>
                    <div class="form-group" id="flow_limit" data-nps-require-admin="true" data-nps-require-feature="allow_flow_limit">
                        <label class="control-label font-bold" langtag="word-flowlimit"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-bytes-unlimited-placeholder" name="flow_limit" placeholder="" type="text">
                            <span class="help-block m-b-none" langtag="info-client-flow-limit-help"></span>
                        </div>
                    </div>
                    <div class="form-group" id="time_limit" data-nps-require-admin="true" data-nps-require-feature="allow_time_limit">
                        <label class="control-label font-bold" langtag="word-timelimit"></label>
                        <div class="col-sm-12">
                            <input class="form-control" id="time_limit_input" langtag="info-datetime-or-unix-placeholder" name="time_limit" placeholder="" type="text">
                            <span class="help-block m-b-none" langtag="info-client-expire-help"></span>
                        </div>
                    </div>
                    <div class="form-group" id="rate_limit" data-nps-require-admin="true" data-nps-require-feature="allow_rate_limit">
                        <label class="control-label font-bold" langtag="word-ratelimit"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="rate_limit" placeholder="" type="text">
                            <span class="help-block m-b-none" langtag="word-unit"></span>: <span langtag="unit-kilobyte-per-second"></span>
                        </div>
                    </div>
                    <div class="form-group" id="max_conn" data-nps-require-admin="true" data-nps-require-feature="allow_connection_num_limit">
                        <label class="control-label font-bold" langtag="word-maxconnections"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="max_conn" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group" id="max_tunnel" data-nps-require-admin="true" data-nps-require-feature="allow_tunnel_num_limit">
                        <label class="control-label font-bold" langtag="word-maxtunnels"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="max_tunnel" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group" id="u">
                        <label class="control-label font-bold" langtag="word-basicusername"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="u" placeholder="" type="text">
                            <span class="help-block m-b-none" langtag="info-onlyproxy"></span>
                        </div>
                    </div>
                    <div class="form-group" id="p">
                        <label class="control-label font-bold" langtag="word-basicpassword"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="p" placeholder="" type="password">
                            <span class="help-block m-b-none" langtag="info-onlyproxy"></span>
                        </div>
                    </div>
                    <div class="form-group" id="clear_password">
                        <label class="control-label font-bold" langtag="word-clear-password"></label>
                        <div class="col-sm-12">
                            <input name="clear_password" type="checkbox" value="true">
                            <span class="help-block m-b-none" langtag="info-user-clear-password-help"></span>
                        </div>
                    </div>
                    <div class="form-group" id="vkey" data-nps-require-admin="true">
                        <label class="control-label font-bold" langtag="word-verifyKey"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="vkey" placeholder="" type="text">
                            <span class="help-block m-b-none" langtag="info-autogenerated"></span>
                        </div>
                    </div>
                    <div class="form-group" id="user_id" data-nps-require-admin="true">
                        <label class="control-label font-bold" langtag="word-owneruser"></label>
                        <div class="col-sm-12">
                            <select class="form-control" name="user_id" data-live-search="true"></select>
                            <span class="help-block m-b-none" langtag="info-owner-user-edit-help"></span>
                        </div>
                    </div>
                    <div class="form-group" id="manager_user_ids" data-nps-require-admin="true">
                        <label class="control-label font-bold" langtag="word-manageruserids"></label>
                        <div class="col-sm-12">
                            <textarea class="form-control" langtag="info-manager-user-ids-placeholder" name="manager_user_ids" placeholder="" rows="3"></textarea>
                            <span class="help-block m-b-none" langtag="info-manager-user-ids-help"></span>
                        </div>
                    </div>
                    <div class="form-group" id="source_meta" data-nps-require-admin="true">
                        <label class="control-label font-bold" langtag="word-source"></label>
                        <div class="col-sm-12">
                            <input class="form-control" id="client_source_type_display" readonly type="text" value="">
                            <span class="help-block m-b-none">
                                <span langtag="word-platform"></span>: <span id="client_source_platform_id"><span langtag="word-na"></span></span>
                                | <span langtag="word-actor"></span>: <span id="client_source_actor_id"><span langtag="word-na"></span></span>
                                | <span langtag="word-revision"></span>: <span id="client_revision">0</span>
                                | <span langtag="word-updated"></span>: <span id="client_updated_at"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" id="user_binding_notice" data-nps-require-not-admin="true">
                        <label class="control-label font-bold" langtag="word-owneruser"></label>
                        <div class="col-sm-12">
                            <input class="form-control" id="owner_user_display" readonly type="text" value="">
                            <span class="help-block m-b-none" langtag="info-owner-user-bound-help"></span>
                        </div>
                    </div>
                    <div class="form-group" id="config_conn_allow">
                        <label class="control-label font-bold" langtag="word-connectbyconfig"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="config_conn_allow">
                                <option value="1" langtag="word-yes"></option>
                                <option value="0" langtag="word-no"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="compress">
                        <label class="control-label font-bold" langtag="word-compress"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="compress">
                                <option value="0" langtag="word-no"></option>
                                <option value="1" langtag="word-yes"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="crypt">
                        <label class="control-label font-bold" langtag="word-crypt"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="crypt">
                                <option value="0" langtag="word-no"></option>
                                <option value="1" langtag="word-yes"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="entry_acl_mode">
                        <label class="control-label font-bold" langtag="word-entryacl"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="entry_acl_mode">
                                <option value="0" langtag="word-disable"></option>
                                <option value="1" langtag="word-whitelist"></option>
                                <option value="2" langtag="word-blacklist"></option>
                            </select>
                            <span class="help-block m-b-none" langtag="info-entryacl"></span>
                        </div>
                    </div>
                    <div class="form-group" id="entry_acl_rules">
                        <label class="control-label font-bold" langtag="word-entryaclrules"></label>
                        <div class="col-sm-12">
                            <textarea class="form-control" name="entry_acl_rules" placeholder="" rows="4" type="text"></textarea>
                            <span class="help-block m-b-none" langtag="info-entryaclrules"></span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group nps-form-actions">
                        <div class="col-lg-12">
                            <button class="btn btn-secondary" onclick="window.history.back()" type="button">
                                <i class="fa fa-fw fa-lg fa-window-close"></i> <span langtag="word-cancel"></span>
                            </button>
                            <button class="btn btn-success"
                                    data-nps-require-node-action="clients/edit"
                                    onclick="submitClientEdit()"
                                    type="button">
                                <i class="fa fa-fw fa-lg fa-save"></i><span langtag="word-save"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var currentClientItem = null;

    function canEditClientForm() {
        return window.nps.nodeActionAvailable('clients/edit');
    }

    function currentClientID() {
        return window.nps.pageIntParam('id');
    }

    function clientOwnerDisplayText(item) {
        if (!item || !item.OwnerUserID) {
            return window.nps.langText('word-platformmanaged', '');
        }
        return window.nps.langText('word-user', '') + ' #' + item.OwnerUserID;
    }

    function clientManagerUserIDsText(item) {
        if (!item || !item.ManagerUserIDs || !item.ManagerUserIDs.length) {
            return '';
        }
        return item.ManagerUserIDs.join('\n');
    }

    function clientExpireText(item) {
        if (!item || !item.ExpireAt) {
            return '';
        }
        return window.nps.formatUnixTimestamp(item.ExpireAt);
    }

    function clientUpdatedAtText(item) {
        if (!item || !item.UpdatedAt) {
            return window.nps.langText('word-na', '');
        }
        return window.nps.formatUnixTimestamp(item.UpdatedAt);
    }

    function clientSourceTypeText(value) {
        var normalized = String(value || 'node_admin').toLowerCase().replace(/_/g, '-');
        return window.nps.langText('word-sourcetype-' + normalized, '') || window.nps.langText('word-na', '');
    }

    function applyClientEditReadOnlyState() {
        if (!canEditClientForm()) {
            window.nps.applyReadOnlyForm('form.form-horizontal', {
                message: window.nps.langText('info-readonly-client', '')
            });
        }
    }

    function toggleOwnerBoundLimitFields() {
        if (!$("select[name='user_id']").length) {
            return;
        }
        var hasOwnerUser = !!$("select[name='user_id']").val();
        ["#flow_limit", "#time_limit"].forEach(function (selector) {
            if ($(selector).length) {
                $(selector).css("display", hasOwnerUser ? "none" : "block");
            }
        });
    }

    function toggleEntryAclRules() {
        var modeVal = $("select[name='entry_acl_mode']").val();
        var mode = parseInt(modeVal ? modeVal : "0", 10);
        $("#entry_acl_rules").css("display", mode === 0 ? "none" : "block");
    }

    function getUserList(selectedUserID) {
        if (!$("select[name='user_id']").length) {
            return;
        }
        window.nps.initRemoteSelectPicker("select[name='user_id']", {
            method: 'GET',
            url: window.nps.nodeRoute('users'),
            selectedValue: selectedUserID || '',
            includeEmpty: true,
            onLoaded: toggleOwnerBoundLimitFields,
            mapItem: function (item, selectedValue) {
                return {
                    value: item.id,
                    text: item.username + " (#" + item.id + ")",
                    selected: String(item.id) === String(selectedValue)
                };
            }
        });
    }

    function applyClientForm(item) {
        currentClientItem = item || {};
        window.nps.setFormValue('form.form-horizontal', 'id', currentClientItem.Id || currentClientID());
        window.nps.setFormValue('form.form-horizontal', 'remark', currentClientItem.Remark || '');
        window.nps.setFormValue('form.form-horizontal', 'flow_limit', currentClientItem.FlowLimit || '');
        window.nps.setFormValue('form.form-horizontal', 'time_limit', clientExpireText(currentClientItem));
        window.nps.setFormValue('form.form-horizontal', 'rate_limit', currentClientItem.RateLimit || '');
        window.nps.setFormValue('form.form-horizontal', 'max_conn', currentClientItem.MaxConn || '');
        window.nps.setFormValue('form.form-horizontal', 'max_tunnel', currentClientItem.MaxTunnelNum || '');
        window.nps.setFormValue('form.form-horizontal', 'u', currentClientItem.Cnf ? currentClientItem.Cnf.U : '');
        window.nps.setFormValue('form.form-horizontal', 'p', '');
        $("input[name='clear_password']").prop('checked', false);
        $("input[name='p']").prop('disabled', false);
        window.nps.setFormValue('form.form-horizontal', 'vkey', currentClientItem.VerifyKey || '');
        window.nps.setFormValue('form.form-horizontal', 'manager_user_ids', clientManagerUserIDsText(currentClientItem));
        window.nps.setFormValue('form.form-horizontal', 'config_conn_allow', currentClientItem.ConfigConnAllow ? '1' : '0');
        window.nps.setFormValue('form.form-horizontal', 'compress', currentClientItem.Cnf && currentClientItem.Cnf.Compress ? '1' : '0');
        window.nps.setFormValue('form.form-horizontal', 'crypt', currentClientItem.Cnf && currentClientItem.Cnf.Crypt ? '1' : '0');
        window.nps.setFormValue('form.form-horizontal', 'entry_acl_mode', currentClientItem.EntryAclMode || '0');
        window.nps.setFormValue('form.form-horizontal', 'entry_acl_rules', currentClientItem.EntryAclRules || '');
        window.nps.setTextContent('#client_source_type_display', clientSourceTypeText(currentClientItem.SourceType));
        window.nps.setTextContent('#client_source_platform_id', currentClientItem.SourcePlatformID || window.nps.langText('word-na', ''));
        window.nps.setTextContent('#client_source_actor_id', currentClientItem.SourceActorID || window.nps.langText('word-na', ''));
        window.nps.setTextContent('#client_revision', currentClientItem.Revision || 0);
        window.nps.setTextContent('#client_updated_at', clientUpdatedAtText(currentClientItem));
        window.nps.setTextContent('#owner_user_display', clientOwnerDisplayText(currentClientItem));
        window.nps.setGroupVisibility('#user_binding_notice', !!currentClientItem.OwnerUserID);
        getUserList(currentClientItem.OwnerUserID);
        toggleOwnerBoundLimitFields();
        toggleEntryAclRules();
    }

    function loadClientForm() {
        var id = currentClientID();
        if (!id) {
            return $.Deferred().reject().promise();
        }
        return window.nps.fetchNodeItem(
            window.nps.nodeResourcePath('clients', id),
            window.nps.adaptNodeClientResource
        ).then(function (item) {
            applyClientForm(item || {});
            return item || {};
        });
    }

    function submitClientEdit() {
        if (!canEditClientForm()) {
            return;
        }
        var id = currentClientID();
        if (!id) {
            return;
        }
        var payload = $('form').serializeArray();
        var clearPassword = $("input[name='clear_password']").prop('checked');
        if (!clearPassword && !$("input[name='p']").val()) {
            payload = $.grep(payload, function (item) {
                return !(item && (item.name === 'p' || item.name === 'password'));
            });
        }
        payload = $.grep(payload, function (item) {
            return !(item && item.name === 'clear_password');
        });
        if ((currentClientItem && currentClientItem.OwnerUserID) && !$("select[name='user_id']").val()) {
            payload = $.grep(payload, function (item) {
                return !(item && item.name === 'user_id');
            });
            payload.push({name: 'user_id', value: '0'});
        }
        window.nps.submitFormAction('edit', window.nps.nodeMutation('client', 'edit', id), payload);
    }

    $(function () {
        $(document).on("change", "select[name='user_id']", toggleOwnerBoundLimitFields);
        $("select[name='entry_acl_mode']").on("change", toggleEntryAclRules);
        $("input[name='clear_password']").on("change", function () {
            var checked = $(this).prop('checked');
            $("input[name='p']").prop('disabled', checked);
            if (checked) {
                $("input[name='p']").val('');
            }
        });
        window.nps.setGroupVisibility('#user_binding_notice', false);
        loadClientForm();
        window.nps.syncConditionalVisibility(document.querySelector('.nps-form-actions'));
        applyClientEditReadOnlyState();
    });

    function internationalized(current) {
        $.fn.selectpicker.defaults = {
            noneSelectedText: languages['content']['bootstrap-select']['noneSelectedText'][current],
            noneResultsText: languages['content']['bootstrap-select']['noneResultsText'][current]
        };
        getUserList(currentClientItem ? currentClientItem.OwnerUserID : '');
        if (currentClientItem) {
            applyClientForm(currentClientItem);
        }
        applyClientEditReadOnlyState();
    }
</script>
