<div class="row tile">
    <div class="col-md-12 col-md-auto">
        <div class="ibox float-e-margins nps-form-shell">
            <div class="ibox-title">
                <h3 class="nps-form-title" langtag="page-hostadd"></h3>
                <p class="nps-form-subtitle" langtag="info-host-add-subtitle"></p>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-clientid"></label>
                        <div class="col-sm-12">
                            <select class="form-control" name="client_id" data-live-search="true"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-remark"></label>
                        <div class="col-sm-12">
                            <input class="form-control" type="text" name="remark" placeholder="" langtag="word-remark">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-host"></label>
                        <div class="col-sm-12">
                            <input class="form-control" type="text" name="host" placeholder="" langtag="info-suchashost">
                        </div>
                    </div>
                    <div class="form-group" id="entry_acl_mode">
                        <label class="control-label font-bold" langtag="word-entryacl"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="entry_acl_mode">
                                <option langtag="word-disable" value="0"></option>
                                <option langtag="word-whitelist" value="1"></option>
                                <option langtag="word-blacklist" value="2"></option>
                            </select>
                            <span class="help-block m-b-none" langtag="info-entryacl"></span>
                        </div>
                    </div>
                    <div class="form-group" id="entry_acl_rules">
                        <label class="control-label font-bold" langtag="word-entryaclrules"></label>
                        <div class="col-sm-12">
                            <textarea class="form-control" name="entry_acl_rules" rows="4"></textarea>
                            <span class="help-block m-b-none" langtag="info-entryaclrules"></span>
                        </div>
                    </div>
                    <div class="form-group" id="scheme">
                        <label class="control-label font-bold" langtag="word-scheme"></label>
                        <div class="col-sm-12">
                            <select id="scheme_select" class="form-control selectpicker" name="scheme">
                                <option value="all" langtag="word-all"></option>
                                <option value="http" langtag="word-http"></option>
                                <option value="https" langtag="word-https"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="flow_limit" data-nps-require-feature="allow_flow_limit">
                        <label class="control-label font-bold" langtag="word-flowlimit"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="flow_limit" placeholder="" type="text">
                            <span class="help-block m-b-none" langtag="word-unit"></span>: <span langtag="unit-megabyte"></span>
                        </div>
                    </div>
                    <div class="form-group" id="time_limit" data-nps-require-feature="allow_time_limit">
                        <label class="control-label font-bold" langtag="word-timelimit"></label>
                        <div class="col-sm-12">
                            <input class="form-control" id="time_limit_input" langtag="info-unrestricted" name="time_limit" placeholder="" type="datetime-local">
                            <span class="help-block m-b-none" langtag="info-timelimit"></span>
                        </div>
                    </div>
                    <div class="form-group" id="rate_limit" data-nps-require-feature="allow_rate_limit">
                        <label class="control-label font-bold" langtag="word-ratelimit"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="rate_limit" placeholder="" type="text">
                            <span class="help-block m-b-none" langtag="word-unit"></span>: <span langtag="unit-kilobyte-per-second"></span>
                        </div>
                    </div>
                    <div class="form-group" id="max_conn" data-nps-require-feature="allow_connection_num_limit">
                        <label class="control-label font-bold" langtag="word-maxconnections"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="max_conn" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group" id="auto_https">
                        <label class="control-label font-bold" langtag="word-autohttps"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="auto_https">
                                <option langtag="word-no" value="0"></option>
                                <option langtag="word-yes" value="1"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="auto_cors">
                        <label class="control-label font-bold" langtag="word-autocors"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="auto_cors">
                                <option langtag="word-no" value="0"></option>
                                <option langtag="word-yes" value="1"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="compat_mode">
                        <label class="control-label font-bold" langtag="word-compatmode"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="compat_mode">
                                <option langtag="word-no" value="0"></option>
                                <option langtag="word-yes" value="1"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="https_just_proxy">
                        <label class="control-label font-bold" langtag="word-httpsjustproxy"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" id="https_just_proxy_select" name="https_just_proxy">
                                <option langtag="word-no" value="0"></option>
                                <option langtag="word-yes" value="1"></option>
                            </select>
                            <span class="help-block m-b-none" langtag="info-httpsjustproxy"></span>
                        </div>
                    </div>
                    <div class="form-group" id="tls_offload">
                        <label class="control-label font-bold" langtag="word-tlsoffload"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="tls_offload">
                                <option langtag="word-no" value="0"></option>
                                <option langtag="word-yes" value="1"></option>
                            </select>
                            <span class="help-block m-b-none" langtag="info-tlsoffload"></span>
                        </div>
                    </div>
                    <div class="form-group" id="proxy_protocol">
                        <label class="control-label font-bold" langtag="word-proxyprotocol"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="proxy_protocol">
                                <option langtag="word-disable" value="0"></option>
                                <option langtag="word-proxyprotocolv1" value="1"></option>
                                <option langtag="word-proxyprotocolv2" value="2"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="auto_ssl">
                        <label class="control-label font-bold" langtag="word-autossl"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="auto_ssl">
                                <option langtag="word-no" value="0"></option>
                                <option langtag="word-yes" value="1"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="cert_suggestion_notice" style="display:none;">
                        <div class="col-sm-12">
                            <div class="alert alert-info m-b-none">
                                <span id="cert_suggestion_text"></span>
                                <button class="btn btn-xs btn-primary pull-right" id="cert_suggestion_apply" type="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="cert_file">
                        <label class="control-label font-bold" langtag="word-httpscert"></label>
                        <div class="col-sm-12">
                            <textarea class="form-control" id="pemText" langtag="info-pemtext" name="cert_file" placeholder="" rows="6" type="text"></textarea>
                        </div>
                    </div>
                    <div class="form-group" id="key_file">
                        <label class="control-label font-bold" langtag="word-httpskey"></label>
                        <div class="col-sm-12">
                            <textarea class="form-control" id="pemKey" langtag="info-pemkey" name="key_file" placeholder="" rows="6" type="text"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-urlroute"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="location" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-urlrewrite"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-urlrewrite" name="path_rewrite" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-redirecturl"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-redirecturl" name="redirect_url" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group" id="local_proxy" data-nps-require-local-proxy="true">
                        <label class="control-label font-bold" langtag="word-proxytolocal"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="local_proxy">
                                <option langtag="word-no" value="0"></option>
                                <option langtag="word-yes" value="1"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="auth">
                        <label class="control-label font-bold" langtag="word-auth"></label>
                        <div class="col-sm-12">
                            <textarea class="form-control" langtag="info-suchasauth" name="auth" placeholder="" rows="4"></textarea>
                            <span class="help-block m-b-none" langtag="info-targetauth"></span>
                        </div>
                    </div>
                    <div class="form-group" id="target_is_https">
                        <label class="control-label font-bold" langtag="word-targetishttps"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="target_is_https">
                                <option value="0" langtag="word-http"></option>
                                <option value="1" langtag="word-https"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold" langtag="word-target"></label>
                        <div class="col-sm-12">
                            <textarea class="form-control" langtag="info-suchasiplist" name="target" placeholder="" rows="4" type="text"></textarea>
                            <span class="help-block m-b-none" langtag="info-targethost"></span>
                        </div>
                    </div>
                    <div class="form-group" id="header">
                        <label class="control-label font-bold" langtag="word-requestheader"></label>
                        <div class="col-sm-12">
                            <textarea class="form-control" langtag="info-request-header-placeholder" langattr="placeholder" name="header" placeholder="" rows="4" type="text"></textarea>
                            <span class="help-block m-b-none" langtag="info-header"></span>
                        </div>
                    </div>
                    <div class="form-group" id="resp_header">
                        <label class="control-label font-bold" langtag="word-responseheader"></label>
                        <div class="col-sm-12">
                            <textarea class="form-control" langtag="info-response-header-placeholder" langattr="placeholder" name="resp_header" placeholder="" rows="4" type="text"></textarea>
                            <span class="help-block m-b-none" langtag="info-header"></span>
                        </div>
                    </div>
                    <div class="form-group" id="hostchange">
                        <label class="control-label font-bold" langtag="word-requesthost"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="word-requesthost" name="hostchange" placeholder="" type="text" value="">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group nps-form-actions">
                        <div class="col-lg-12">
                            <button class="btn btn-secondary" onclick="window.history.back()" type="button">
                                <i class="fa fa-fw fa-lg fa-window-close"></i> <span langtag="word-cancel"></span>
                            </button>
                            <button class="btn btn-success"
                                    data-nps-require-node-action="hosts/add"
                                    onclick="submitHostAdd()"
                                    type="button">
                                <i class="fa fa-fw fa-lg fa-check-circle"></i> <span langtag="word-add"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var currentHostCertSuggestion = null;
    var hostCertSuggestionTimer = null;
    var hostCertSuggestionToken = 0;

    function hostFormText(path, fallback) {
        return window.nps.langText(path, fallback);
    }

    function hostFormFormat(path, replacements, fallback) {
        return window.nps.langFormat(path, replacements, fallback);
    }

    function canAddHostForm() {
        return window.nps.nodeActionAvailable('hosts/add');
    }

    function applyHostAddReadOnlyState() {
        if (!canAddHostForm()) {
            window.nps.applyReadOnlyForm('form.form-horizontal', {
                message: window.nps.langText('info-readonly-host', '')
            });
        }
    }

    function currentHostFormID() {
        return 0;
    }

    function hostFormHasManualCert() {
        return $.trim($("textarea[name='cert_file']").val() || '') !== '' ||
            $.trim($("textarea[name='key_file']").val() || '') !== '';
    }

    function canSuggestHostCert() {
        var scheme = $("select[name='scheme']").val();
        var passthrough = $("select[name='https_just_proxy']").val() === '1';
        var autoSSL = $("select[name='auto_ssl']").val() === '1';
        return (scheme === 'all' || scheme === 'https') && !passthrough && !autoSSL;
    }

    function hostCertSuggestionLabel(item) {
        if (!item) {
            return '';
        }
        var label = item.source_host || '';
        var location = $.trim(item.source_location || '');
        if (location && location !== '/') {
            label += location;
        }
        if (item.is_close) {
            label += hostFormText('info-disabled-suffix');
        }
        return label;
    }

    function hideHostCertSuggestion() {
        currentHostCertSuggestion = null;
        $("#cert_suggestion_notice").hide();
        $("#cert_suggestion_text").text('');
    }

    function renderHostCertSuggestion(item) {
        if (!item || !item.source_host_id) {
            hideHostCertSuggestion();
            return;
        }
        currentHostCertSuggestion = item;
        var sourceLabel = hostCertSuggestionLabel(item);
        var canApply = !!item.can_apply_to_form;
        var text = hostFormFormat(
            canApply ? 'info-host-cert-suggestion-applyable' : 'info-host-cert-suggestion-reuse-only',
            {source_label: sourceLabel}
        );
        $("#cert_suggestion_text").text(text);
        $("#cert_suggestion_apply").text(hostFormText('info-host-cert-suggestion-apply'));
        $("#cert_suggestion_apply").toggle(canApply);
        $("#cert_suggestion_notice").show();
    }

    function refreshHostCertSuggestionNow() {
        var host = $.trim($("input[name='host']").val() || '');
        if (!host || !canSuggestHostCert() || hostFormHasManualCert()) {
            hideHostCertSuggestion();
            return;
        }
        var token = ++hostCertSuggestionToken;
        window.nps.fetchNodeData(window.nps.nodeAPIPath('hosts/cert-suggestion'), 'GET', {
            host: host,
            exclude_id: currentHostFormID()
        }).then(function (data) {
            if (token !== hostCertSuggestionToken) {
                return;
            }
            renderHostCertSuggestion(data && data.item ? data.item : null);
        }).fail(function () {
            if (token === hostCertSuggestionToken) {
                hideHostCertSuggestion();
            }
        });
    }

    function scheduleHostCertSuggestionRefresh() {
        if (hostCertSuggestionTimer) {
            clearTimeout(hostCertSuggestionTimer);
        }
        hostCertSuggestionTimer = setTimeout(refreshHostCertSuggestionNow, 250);
    }

    function applyHostCertSuggestion() {
        if (!currentHostCertSuggestion || !currentHostCertSuggestion.can_apply_to_form) {
            return;
        }
        $("textarea[name='cert_file']").val(currentHostCertSuggestion.cert_file || '');
        $("textarea[name='key_file']").val(currentHostCertSuggestion.key_file || '');
        hideHostCertSuggestion();
    }

    function submitHostAdd() {
        if (!canAddHostForm()) {
            return;
        }
        window.nps.submitFormAction('add', window.nps.nodeMutation('host', 'add'), $('form').serializeArray());
    }

    $(function () {
        function toggleEntryAclRules() {
            var modeVal = $("select[name='entry_acl_mode']").val();
            var mode = parseInt(modeVal ? modeVal : "0", 10);
            $("#entry_acl_rules").css("display", mode === 0 ? "none" : "block");
        }

        getClientList();
        $("select[name='entry_acl_mode']").on("change", toggleEntryAclRules);
        toggleEntryAclRules();
        const pemText = document.getElementById("pemText");
        const pemKey = document.getElementById("pemKey");

        // 阻止浏览器默认打开文件的行为
        document.addEventListener("dragover", function (event) {
            event.preventDefault();
        });

        pemText.addEventListener("drop", function (event) {
            event.preventDefault();
            const file = event.dataTransfer.files[0];
            const reader = new FileReader();
            reader.onload = function (e) {
                pemText.value = e.target.result;
                $('#edit_form').data('bootstrapValidator').updateStatus('pemText', 'NOT_VALIDATED');
                $('#edit_form').data('bootstrapValidator').validateField('pemText');
            }
            reader.readAsText(file);
        });

        pemKey.addEventListener("drop", function (event) {
            event.preventDefault();
            const file = event.dataTransfer.files[0];
            const reader = new FileReader();
            reader.onload = function (e) {
                pemKey.value = e.target.result;
                $('#edit_form').data('bootstrapValidator').updateStatus('pemKey', 'NOT_VALIDATED');
                $('#edit_form').data('bootstrapValidator').validateField('pemKey');
            }
            reader.readAsText(file);
        });

        $("#scheme_select").on("change", function () {
            window.nps.syncHostTLSFields();
            scheduleHostCertSuggestionRefresh();
        })

        $("#https_just_proxy_select").on("change", function () {
            window.nps.syncHostTLSFields();
            scheduleHostCertSuggestionRefresh();
        })
        $("select[name='auto_ssl']").on("change", scheduleHostCertSuggestionRefresh);
        $("input[name='host']").on("input blur", scheduleHostCertSuggestionRefresh);
        $("textarea[name='cert_file'], textarea[name='key_file']").on("input", scheduleHostCertSuggestionRefresh);
        $("#cert_suggestion_apply").on("click", applyHostCertSuggestion);
        window.nps.syncHostTLSFields();
        scheduleHostCertSuggestionRefresh();
        window.nps.syncConditionalVisibility(document.querySelector('.nps-form-actions'));
        applyHostAddReadOnlyState();
    });

    function getClientList() {
        const clientId = window.nps.pageIntParam('client_id');
        window.nps.initRemoteSelectPicker("select[name='client_id']", {
            method: 'GET',
            url: window.nps.nodeRoute('clients'),
            selectedValue: clientId,
            mapItem: function (item, selectedValue) {
                var displayText = item.remark ? item.id + ' · ' + item.remark : item.id.toString();
                return {
                    value: item.id,
                    text: displayText,
                    selected: String(item.id) === String(selectedValue)
                };
            }
        });
    }

    function internationalized(current) {
        $.fn.selectpicker.defaults = {
            noneSelectedText: languages['content']['bootstrap-select']['noneSelectedText'][current],
            noneResultsText: languages['content']['bootstrap-select']['noneResultsText'][current]
        };
        if (currentHostCertSuggestion) {
            renderHostCertSuggestion(currentHostCertSuggestion);
        }
        getClientList();
        applyHostAddReadOnlyState();
    }
</script>
