<div class="wrapper wrapper-content">
    <div data-nps-require-not-admin="true">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-tcpports"></h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="overview-bridge-tcp-tls">0 / 0</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-kcpport"></h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="overview-bridge-kcp">0</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-wsports"></h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="overview-bridge-ws">0 / 0</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-wspath"></h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="overview-bridge-path">/ws</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-serverip"></h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="overview-bridge-ip"></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-serverversion"></h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="stat-version"></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-minsupportversion"></h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="stat-minVersion"></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-iprestriction"></h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="stat-ipLimit"></h1>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div data-nps-require-admin="true">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-totalclients"></h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="stat-clientCount">0</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    {{/*<span class="label label-primary pull-right">今日</span>*/}}
                    <h5 langtag="word-onlineclients"></h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="stat-clientOnlineCount">0</h1>
                    {{/*<div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>*/}}
                    {{/*<small>新访客</small>*/}}
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-tcpconnections"></h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="stat-tcpCount">0</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-uptime"></h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="stat-upTime" data-up-secs="0"></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-configurationinformation"></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content no-padding">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <strong langtag="word-bridgingmode"></strong>
                                </div>
                                <div class="col-sm-8 text-right">
                                    <strong>
                                        <span id="config-bridge-summary"></span>
                                    </strong>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong langtag="word-httpports"></strong>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <strong id="config-httpPorts">0 / 0</strong>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item ">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong langtag="word-iprestriction"></strong>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <strong id="config-ipLimit"></strong>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item ">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong langtag="word-trafficdatapersistence"></strong>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <strong id="config-flowStoreInterval" data-seconds="0"></strong>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item ">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong langtag="word-loglevel"></strong>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <strong id="config-logLevel"></strong>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item ">
                            <div class="row">
                                <div class="col-sm-4">
                                    <strong langtag="word-p2paddr"></strong>
                                </div>
                                <div class="col-sm-8 text-right">
                                    <strong id="config-p2pAddr"></strong>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item ">
                            <div class="row">
                                <div class="col-sm-2">
                                    <strong langtag="word-serverip"></strong>
                                </div>
                                <div class="col-sm-10 text-right">
                                    <strong id="config-serverIPs"></strong>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item ">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong langtag="word-serverversion"></strong>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <strong id="config-versionPair"></strong>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-systeminformation"></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content no-padding">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong langtag="word-cpu"></strong>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <strong id="overview_cpu"></strong>
                                </div>
                            </div>
                            <div class="progress progress-small">
                                <div class="progress-bar" id="overview_cpu_bar"></div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong langtag="word-memory"></strong>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <strong id="overview_memory"></strong>
                                </div>
                            </div>
                            <div class="progress progress-small">
                                <div class="progress-bar" id="overview_memory_bar"></div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong langtag="word-load"></strong>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <strong id="overview_load"></strong>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item ">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong langtag="word-tcpconnections_established"></strong>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <strong id="overview_tcp"></strong>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item ">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong langtag="word-udpconnections_established"></strong>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <strong id="overview_udp"></strong>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item ">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong langtag="word-outbandwidth"></strong>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <strong id="overview_send"></strong>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item ">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong langtag="word-inbandwidth"></strong>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <strong id="overview_recv"></strong>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div data-nps-require-feature="system_info_display">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-load"></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="load" class="nps-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-cpu"></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="cpu" class="nps-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-memory"></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="memory" class="nps-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-connections_established"></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="connections" class="nps-chart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-bandwidth"></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="bandwidth" class="nps-chart"></div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-trafficstatistics"></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="flow" class="nps-chart-tall"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-type"></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="counts" class="nps-chart-tall"></div>
                </div>
            </div>
        </div>


    </div>
    </div>
</div>
<script>
    function adminDashboardEnabled() {
        return window.nps.isAdmin();
    }

    function systemInfoVisible() {
        return window.nps.featureEnabled('system_info_display');
    }

    function parseLoadData(raw) {
        if (!raw) {
            return {};
        }
        if (typeof raw === 'object') {
            return raw;
        }
        try {
            return JSON.parse(raw);
        } catch (err) {
            return {};
        }
    }

    function formatUpTime(secs) {
        if (window.nps.formatCompactDuration) {
            return window.nps.formatCompactDuration(secs);
        }
        const dayUnit = window.nps.langText('word-day-short', '');
        const hourUnit = window.nps.langText('word-hour-short', '');
        const minuteUnit = window.nps.langText('word-minute-short', '');
        const secondUnit = window.nps.langText('word-second-short', '');
        const d = Math.floor(secs / 86400);
        secs %= 86400;
        const h = Math.floor(secs / 3600);
        secs %= 3600;
        const m = Math.floor(secs / 60);
        const s = secs % 60;
        const parts = [];
        if (d) parts.push(d + dayUnit);
        if (h) parts.push(h + hourUnit);
        if (m) parts.push(m + minuteUnit);
        parts.push(s + secondUnit);
        return parts.join(' ');
    }

    function megabyteUnitText() {
        return window.nps.langText('unit-megabyte', '');
    }

    function perSecondUnitText() {
        return window.nps.langText('unit-per-second', '');
    }

    function renderOverviewLoad(loadData) {
        if (window.nps.formatLoadSummary) {
            $('#overview_load').text(window.nps.formatLoadSummary(loadData));
            return;
        }
        $('#overview_load').text([loadData.load1, loadData.load5, loadData.load15].filter(v => v !== undefined && v !== null && v !== '').join(' / '));
    }

    const chartTextColor = getComputedStyle(document.documentElement)
        .getPropertyValue('--text').trim();
    const chartBgColor   = getComputedStyle(document.documentElement)
        .getPropertyValue('--bg').trim();

    function chartLegendDot(color) {
        return '<span class="nps-chart-dot" style="background-color:' + color + ';"></span>';
    }

    echarts.registerTheme('nps-theme', {
        textStyle: {
            color: chartTextColor,
            textBorderColor: chartBgColor,
            textBorderWidth: 0
        },
        axisPointer:  { label: { color: chartTextColor, textBorderColor: chartBgColor } },
        tooltip:      { textStyle: { color: chartTextColor, textBorderColor: chartBgColor } },
        legend:       { textStyle: { color: chartTextColor, textBorderColor: chartBgColor } },
        xAxis:        { axisLabel: { color: chartTextColor, textBorderColor: chartBgColor } },
        yAxis:        { axisLabel: { color: chartTextColor, textBorderColor: chartBgColor } },
        series: [{
            label: {
                color: chartTextColor,
                textBorderColor: chartBgColor,
                textBorderWidth: 0
            },
            emphasis: {
                label: {
                    color: chartTextColor,
                    textBorderColor: chartBgColor,
                    textBorderWidth: 0
                }
            }
        }],
        pie: {
            label: {
                color: chartTextColor,
                textBorderColor: chartBgColor,
                textBorderWidth: 0
            },
            labelLine: {
                lineStyle: {
                    color: chartTextColor
                }
            }
        }
    });

    function dashboardHistory(stats) {
        const rows = [];
        for (let i = 1; i <= 10; i++) {
            rows.push(stats['sys' + i] || {});
        }
        return rows;
    }

    function dashboardTimes(stats) {
        return dashboardHistory(stats).map(function (item) { return item.time || ''; });
    }

    function dashboardValues(stats, key) {
        return dashboardHistory(stats).map(function (item) {
            return Number(item[key] || 0);
        });
    }

    function updateLangBool(selector, value) {
        const normalized = String(value === undefined || value === null || value === '' ? 'false' : value);
        $(selector).attr('langtag', 'word-' + normalized);
        if ($.fn.setLang) {
            $('body').setLang(selector);
        }
    }

    function initCharts() {
        window.charts = window.charts || {};
        if (!adminDashboardEnabled()) {
            return;
        }
        var chartKeys = ['flow', 'counts'];
        if (systemInfoVisible()) {
            chartKeys = chartKeys.concat(['load', 'cpu', 'memory', 'connections', 'bandwidth']);
        }
        chartKeys.forEach(function (key) {
            const dom = document.getElementById(key);
            if (dom && !charts[key]) {
                charts[key] = echarts.init(dom, 'nps-theme');
            }
        });
    }

    window.addEventListener('resize', () => {
        for (var key in charts) {
            charts[key].resize();
        }
    });

    let currentNodeDisplay = {};
    let upTimeSeconds = Number($('#stat-upTime').data('up-secs')) || 0;
    let currentLoadData = {};
    let flowStoreIntervalSeconds = Number($('#config-flowStoreInterval').data('seconds')) || 0;

    function refreshDashboardText() {
        $('#stat-upTime').text(formatUpTime(upTimeSeconds));
        $('#config-flowStoreInterval').text(formatUpTime(flowStoreIntervalSeconds));
        renderOverviewLoad(currentLoadData);
    }

    function ensureChart(key) {
        if (!charts[key]) {
            const dom = document.getElementById(key);
            if (dom) {
                charts[key] = echarts.init(dom, 'nps-theme');
            }
        }
    }

    function setChartOption(key, option) {
        ensureChart(key);
        if (!charts[key]) {
            return;
        }
        charts[key].setOption(option, true);
    }

    function displayTransport(display, name) {
        return ((display || {}).bridge || {})[String(name || '').toLowerCase()] || {};
    }

    function displayTransportPort(display, name) {
        return displayTransport(display, name).port || '0';
    }

    function applyDashboardDisplay(display) {
        display = display || {};
        currentNodeDisplay = display;
        var bridge = display.bridge || {};
        var primary = bridge.primary || {};
        $('#overview-bridge-tcp-tls').text(displayTransportPort(display, 'tcp') + ' / ' + displayTransportPort(display, 'tls'));
        $('#overview-bridge-kcp').text(displayTransportPort(display, 'kcp'));
        $('#overview-bridge-ws').text(displayTransportPort(display, 'ws') + ' / ' + displayTransportPort(display, 'wss'));
        $('#overview-bridge-path').text(bridge.path || '/ws');
        $('#overview-bridge-ip').text(primary.ip || '');

        var summary = [];
        [['tcp', 'word-tcp', 'TCP'], ['kcp', 'word-kcp', 'KCP'], ['tls', 'word-tls', 'TLS'], ['ws', 'word-ws', 'WS'], ['wss', 'word-wss', 'WSS']].forEach(function (item) {
            var port = displayTransportPort(display, item[0]);
            if (port && port !== '0') {
                summary.push(window.nps.langText(item[1], '') + ':' + port);
            }
        });
        if (bridge.path) {
            summary.push(window.nps.langText('word-path', '') + ':' + bridge.path);
        }
        $('#config-bridge-summary').text(summary.join(' '));
    }

    function updateDashboardCharts(stats) {
        if (!adminDashboardEnabled()) {
            return;
        }
        const times = dashboardTimes(stats);
        if (systemInfoVisible()) {
        setChartOption('load', {
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    var str = params[0].axisValue + '<br/>';
                    for (i in params) {
                        str += chartLegendDot(params[i].color) + params[i].seriesName + ': ' + params[i].data + '</br>';
                    }
                    return str;
                }
            },
            grid: {left: '3%', right: '3%', top: '5%', bottom: '3%', containLabel: true},
            xAxis: {type: 'category', boundaryGap: false, data: times},
            yAxis: {type: 'value'},
            series: [
                {name: '', type: 'line', stack: 'load1', smooth: true, data: dashboardValues(stats, 'load1')},
                {name: '', type: 'line', stack: 'load5', smooth: true, data: dashboardValues(stats, 'load5')},
                {name: '', type: 'line', stack: 'load15', smooth: true, data: dashboardValues(stats, 'load15')}
            ]
        });
        setChartOption('cpu', {
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    var str = params[0].axisValue + '<br/>';
                    for (i in params) {
                        str += chartLegendDot(params[i].color) + params[i].seriesName + ': ' + params[i].data + '%</br>';
                    }
                    return str;
                }
            },
            grid: {left: '3%', right: '3%', top: '5%', bottom: '3%', containLabel: true},
            xAxis: {type: 'category', boundaryGap: false, data: times},
            yAxis: {type: 'value', axisLabel: {show: true, interval: 'auto', formatter: '{value} %'}},
            series: [{name: '', type: 'line', stack: 'cpu', smooth: true, data: dashboardValues(stats, 'cpu')}]
        });
        setChartOption('memory', {
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    var str = params[0].axisValue + '<br/>';
                    for (i in params) {
                        str += chartLegendDot(params[i].color) + params[i].seriesName + ': ' + params[i].data + megabyteUnitText() + '</br>';
                    }
                    return str;
                }
            },
            grid: {left: '3%', right: '3%', top: '5%', bottom: '3%', containLabel: true},
            xAxis: {type: 'category', boundaryGap: false, data: times},
            yAxis: {type: 'value', axisLabel: {show: true, interval: 'auto', formatter: function (value) { return value + ' ' + megabyteUnitText(); }}},
            series: [
                {name: '', type: 'line', stack: 'virtual_mem', smooth: true, data: dashboardValues(stats, 'virtual_mem')},
                {name: '', type: 'line', stack: 'swap_mem', smooth: true, data: dashboardValues(stats, 'swap_mem')}
            ]
        });
        setChartOption('connections', {
            tooltip: {trigger: 'axis'},
            grid: {left: '3%', right: '3%', top: '5%', bottom: '3%', containLabel: true},
            xAxis: {type: 'category', boundaryGap: false, data: times},
            yAxis: {type: 'value'},
            series: [
                {name: '', type: 'line', stack: 'tcp', smooth: true, data: dashboardValues(stats, 'tcp')},
                {name: '', type: 'line', stack: 'udp', smooth: true, data: dashboardValues(stats, 'udp')}
            ]
        });
        setChartOption('bandwidth', {
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    var str = params[0].axisValue + '<br/>';
                    for (i in params) {
                        str += chartLegendDot(params[i].color) + params[i].seriesName + ': ' + changeunit(params[i].data) + perSecondUnitText() + '</br>';
                    }
                    return str;
                }
            },
            grid: {left: '3%', right: '3%', top: '5%', bottom: '3%', containLabel: true},
            xAxis: {type: 'category', boundaryGap: false, data: times},
            yAxis: {
                type: 'value',
                axisLabel: {
                    show: true,
                    interval: 'auto',
                    formatter: function (params) { return changeunit(params); }
                }
            },
            series: [
                {name: '', type: 'line', stack: 'in', smooth: true, data: dashboardValues(stats, 'io_recv')},
                {name: '', type: 'line', stack: 'out', smooth: true, data: dashboardValues(stats, 'io_send')}
            ]
        });
        }
        setChartOption('flow', {
            tooltip: {
                trigger: 'item',
                formatter: function (p) { return p.seriesName + '<br>' + p.name + ':' + changeunit(p.data.value); }
            },
            legend: {orient: 'vertical', left: 'left', data: ['', '']},
            series: [{
                name: '',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [
                    {name: '', value: Number(stats.inletFlowCount || 0)},
                    {name: '', value: Number(stats.exportFlowCount || 0)}
                ],
                itemStyle: {emphasis: {shadowBlur: 10, shadowOffsetX: 0, shadowColor: 'rgba(0, 0, 0, 0.5)'}}
            }]
        });
        setChartOption('counts', {
            tooltip: {trigger: 'item', formatter: '{a} <br/>{b} : {c} ({d}%)'},
            legend: {orient: 'vertical', left: 'left', data: ['', '', '', '', '', '', '']},
            series: [{
                name: '',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [
                    {name: '', value: Number(stats.hostCount || 0)},
                    {name: '', value: Number(stats.tcpC || 0)},
                    {name: '', value: Number(stats.udpCount || 0)},
                    {name: '', value: Number(stats.httpProxyCount || 0)},
                    {name: '', value: Number(stats.socks5Count || 0)},
                    {name: '', value: Number(stats.secretCount || 0)},
                    {name: '', value: Number(stats.p2pCount || 0)}
                ],
                itemStyle: {emphasis: {shadowBlur: 10, shadowOffsetX: 0, shadowColor: 'rgba(0, 0, 0, 0.5)'}}
            }]
        });
    }

    function applyDashboardStats(stats) {
        stats = stats || {};
        $('#stat-version').text(stats.version || '');
        $('#stat-minVersion').text(stats.minVersion || '');
        updateLangBool('#stat-ipLimit', stats.ipLimit);
        $('#stat-clientCount').text(Number(stats.clientCount || 0));
        $('#stat-clientOnlineCount').text(Number(stats.clientOnlineCount || 0));
        $('#stat-tcpCount').text(Number(stats.tcpCount || 0));
        $('#config-httpPorts').text((stats.httpProxyPort || '0') + ' / ' + (stats.httpsProxyPort || '0'));
        updateLangBool('#config-ipLimit', stats.ipLimit);
        flowStoreIntervalSeconds = Number(stats.flowStoreInterval || 0);
        $('#config-flowStoreInterval').attr('data-seconds', flowStoreIntervalSeconds);
        $('#config-logLevel').text(stats.logLevel || '');
        $('#config-p2pAddr').text(stats.p2pAddr || '');
        $('#config-serverIPs').text([stats.p2pIp, stats.serverIpv4, stats.serverIpv6].filter(Boolean).join(' | '));
        if (stats.version && stats.minVersion) {
            $('#config-versionPair').text(stats.version + ' (' + stats.minVersion + ')');
        } else {
            $('#config-versionPair').text(stats.version || stats.minVersion || '');
        }
        const nowSecs = Math.floor(Date.now() / 1000);
        let calc = nowSecs - Number(stats.startTime || 0);
        if (!Number.isFinite(calc) || calc < 0) calc = 0;
        if (Number.isFinite(Number(stats.upSecs))) {
            upTimeSeconds = Math.abs(calc - Number(stats.upSecs)) > 5 ? Number(stats.upSecs) : calc;
        } else {
            upTimeSeconds = calc;
        }
        $('#stat-upTime').attr('data-up-secs', upTimeSeconds);
        $('#overview_cpu').text(Number(stats.cpu || 0) + '%');
        $('#overview_cpu_bar').width(Number(stats.cpu || 0) + '%');
        $('#overview_memory').text(Number(stats.virtual_mem || 0) + '%');
        $('#overview_memory_bar').width(Number(stats.virtual_mem || 0) + '%');
        currentLoadData = parseLoadData(stats.load);
        $('#overview_tcp').text(Number(stats.tcp || 0));
        $('#overview_udp').text(Number(stats.udp || 0));
        $('#overview_send').text(changeunit(Number(stats.io_send || 0)) + perSecondUnitText());
        $('#overview_recv').text(changeunit(Number(stats.io_recv || 0)) + perSecondUnitText());
        refreshDashboardText();
        updateDashboardCharts(stats);
    }

    function refreshStats() {
        window.nps.fetchNodeData(window.nps.nodeRoute('dashboard')).then(function (data) {
            applyDashboardStats((data && data.stats) ? data.stats : {});
        });
    }

    function refreshDashboardRegistration() {
        window.nps.fetchNodeDisplay().then(function (display) {
            applyDashboardDisplay(display || {});
        });
    }

    function internationalized() {
        applyDashboardDisplay(currentNodeDisplay);
        refreshDashboardText();
    }

    $(function() {
        initCharts();
        refreshDashboardText();
        refreshDashboardRegistration();
        refreshStats();
        setInterval(refreshStats, 3000);
        setInterval(function() {
            upTimeSeconds++;
            $('#stat-upTime').text(formatUpTime(upTimeSeconds));
        }, 1000);
    });
</script>
